@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,700,800,200);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.red { color: #477998; }
.red { color: #E07A5F; }
.blue { color: #477998; }
.green { color: #81B29A; }
.white { color: #fff; }

h1, h2, h3, h4, h5 { font-weight: 400; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #291F1E;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-wrapper {
  display: flex;
  min-height: 100vh;
  display: flex;
}
.wrapper {
  flex: 1;
  margin: 3em 0 0;
}
.login {
  background-color: #477998;
  text-align: center;
  padding: 1em;
  border-bottom: 1px groov2 #291F1E;
  box-shadow: inset 0px 1px 3px 1px rgba(51, 68, 49, 0.3), inset rgba(255, 255, 255, 0.2) 0 1px 1px;
}
.login__input {
  width: 100%;
  display: block;
  padding: 0.5em;
  padding: 0.5em;
  margin: 0.5em auto;
  border: 0;
  background-color: #eee;
}
.login__input--submit {
  color: white;
  border: 0;
  background-color: #477998;
  margin-top: 2em;
  border: 3px solid white;
}


.tray {
  background-color: #291F1E;
  position: fixed;
  bottom: 0; left: 0;
  right: 0;
}
.archie-tray__item {
  margin: 0.5em;
  font-size: 2em;
  color: white;
  display: inline-block;
}

@media all and (min-width: 640px) {
  .login__input {
    width: 90%;
  }
  .tray {
    background-color: #291F1E;
    flex: 0 0 4em;
    order: -1;
    margin: 2.5em 0 0;
    position: relative;
  }
  .wrapper {
    flex: 1;
    margin: 2.5em 0 0;
  }

}
.pointer {
  cursor: pointer;
}
@media all and (min-width: 960px) {
  .login__input {
    width: 60%;
  }
  .wrapper {
    margin: 3em 0 0;
  }
  .tray {
    background-color: #291F1E;
    margin: 3em 0 0;
  }
}
.layout {
  flex: 1;
  padding: 1em;
}

.archie-menu {
  position: fixed;
  top: 0;
  bottom: auto;
  line-height: 3em;
  z-index: 3;
}

.archie__logo {
  float: left;
}
.archie-menu-items {
  float: right;
}

.archie__logo__text--logout {
  display: none;
}
.archie__logo__text {
}

.archie__logo__icon {
  margin-right: 1em;
}

@media all and (min-width: 960px) {
  .archie__logo {
    font-size: 2em;
    line-height: 1em;
  }
  .archie-menu {
    top: auto;
    bottom: 0;
  }
}


@media all and (min-width: 640px) {
  .archie-menu{
    line-height: 2em}
}






.archie-menu {
  min-height: 2em;
  box-shadow: 0px 1px 3px 1px rgba(51, 68, 49, 0.3), inset rgba(255, 255, 255, 0.2) 0 1px 1px;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
  overflow: auto;
  font-weight: 100;
  color: #334431;
  border-bottom: 5px solid #477998;
}

.archie-menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  justify-content: space-around;
  list-style-type: none; }

.archie__logo,
.archie-menu-item {
  transition: all 0.3s; }
  .archie__logo:hover a,
  .archie-menu-item:hover a {
    color: #1d261c; }
  .archie__logo a,
  .archie-menu-item a {
    padding: 0.25em 0.75em;
    display: block;
    color: #334431;
    text-decoration: none; }

@media all and (min-width: 640px) {
  .archie__logo__text {
    display: inline-block;
  }
  .archie-menu {
    top: 0;
    bottom: auto; } }


.properties {
  text-align: center;
}
.property {
  max-width: 98%;
  margin: 1%;
  text-align: center;
  border: 1px solid #477998;
  display: inline-block;
  background-color: #477998;
  box-shadow: 0px 1px 3px 1px rgba(51, 68, 49, 0.3), inset rgba(255, 255, 255, 0.2) 0 1px 1px;
}
.property__title {
  background-color: white;
  padding: 0.5em;
}
.property__rooms {
  background-color: white;
  padding: 0.5em;
}
.property__rent {
  background-color: white;
  padding: 0.5em;

}
.property__image {
  width: 100%;
}


a.local-link {
  position: relative;
}
a.local-link--is-active {
  font-weight: bold;
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0; left: 0;
    height: 1px;
    width: 100%;
    background-color: red;
  }
}



@media all and (min-width: 640px) {
}



.archie-tray {
  background-color: #477998;
  border-right: 2px groove #c3c3c3;
  width: auto;
  position: relative;
  top: 3em;
}
.archie-tray__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

}
.archie-tray__item {
  margin: 0.5em;
  font-size: 2em;
  color: white;
}
