@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,700,800,200);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.red {
  color: #477998;
}
.blue {
  color: #BF5D5E;
}
.green {
  color: #35CE8D;
}
.white {
  color: #fff;
}

h1, h2, h3, h4, h5 {
  font-weight: 800; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #291F1E; }

.archie-menu-items {
      line-height: 2em;
  float: right; }
.archie-menu {
  top: 0;
  bottom: auto; }

.contain {
  max-width: 1024px;
  margin: 0 auto; }

.content {
  padding: 1em;
  font-weight: 200;
  margin-top: 2em;
}

.archie__logo {
  float: left;
  line-height: 2em;
}

.archie__logo__text {
  display: none; }

.archie__logo__icon {
  margin-right: 1em; }

.archie-menu {
  min-height: 2em;
  box-shadow: 0px 1px 3px 1px rgba(51, 68, 49, 0.3), inset rgba(255, 255, 255, 0.2) 0 1px 1px;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
  overflow: auto;
  position: fixed;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 1em;
  color: #334431; }

.archie-menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  justify-content: space-around;
  list-style-type: none; }

.archie__logo,
.archie-menu-item {
  transition: all 0.3s; }
  .archie__logo:hover a,
  .archie-menu-item:hover a {
    color: #1d261c; }
  .archie__logo a,
  .archie-menu-item a {
    padding: 0.25em 0.75em;
    display: block;
    color: #334431;
    text-decoration: none; }

@media all and (min-width: 640px) {
  .content {
    margin-top: 2em; }
  .archie__logo {
    float: none;
    display: inline-block; }
  .archie__logo__text {
    display: inline-block; }
  .archie-menu-items {
    float: right; }
  .archie-menu {
    top: 0;
    bottom: auto; } }

@media all and (min-width: 960px) {
  .content {
    margin-top: 3em; }
  .archie__logo {
    font-size: 2em;
    margin-top: -0.5em;
  }
  .archie-menu {
    height: 3em; } }


.properties {
  text-align: center;
}
.property {
  margin: 1em;
  text-align: center;
  border: 1px solid #477998;
  display: inline-block;
  width: calc(50%-2em);
  background-color: #477998;
  box-shadow: 0px 1px 3px 1px rgba(51, 68, 49, 0.3), inset rgba(255, 255, 255, 0.2) 0 1px 1px;
}
.property__title {
  background-color: white;
  padding: 0.5em;
}
.property__rooms {
  background-color: white;
  padding: 0.5em;
}
.property__rent {
  background-color: white;
  padding: 0.5em;

}


a.local-link {
  position: relative;
}
a.local-link--is-active {
  font-weight: bold;
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0; left: 0;
    height: 1px;
    width: 100%;
    background-color: red;
  }
}


.archie-tray {
  background-color: #477998;
  border-right: 2px groove #c3c3c3;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.archie-tray__items {
  list-style-type: none;
  margin: 0;
  padding: 0;

}
.archie-tray__item {
  margin: 0.5em;
  font-size: 1em;
  color: white;
  display: inline-block;
}


@media all and (min-width: 640px) {
}

@media all and (min-width: 960px) {

  .archie-tray {
    background-color: #477998;
    border-right: 2px groove #c3c3c3;
    /*width: 1em;*/
    height: 100vh;
    position: fixed;
    bottom: inherit;
    width: auto;
  }
  .archie-tray__items {
    list-style-type: none;
    margin: 0;
    padding: 0;

  }
  .archie-tray__item {
    margin: 0.5em;
    font-size: 2em;
    color: white;
  }
}
