
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,700,800,200);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.red { color: #477998; }
.red { color: #E07A5F; }
.blue { color: #477998; }
.green { color: #81B29A; }
.white { color: #fff; }

.pointer {
  cursor: pointer;
}

h1, h2, h3, h4, h5 { font-weight: 400; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-wrapper {
  display: flex;
  min-height: 100vh;
  display: flex;
}
.wrapper {
  flex: 1;
  margin: 3em 0 0;
}

.layout {
  flex: 1;
  padding: 1em;
}

@media all and (min-width: 640px) {
  .wrapper {
    flex: 1;
    margin: 2.5em 0 0;
  }
}



@media all and (min-width: 960px) {
  .wrapper {
    margin: 3em 0 0;
  }
}
