$white: #fff;
$black: #3D4547;

@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates);
@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash:400,100,700,800,200);

@import './locallink.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 20px;
  color: $black;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-wrapper {
  display: flex;
  min-height: 100vh;
  display: flex;
}
.wrapper {
  flex: 1;
  margin: 3.5em 0 0;
}

.layout {
  flex: 1;
  padding: 1em;
}

@media all and (min-width: 640px) {
  .wrapper {
    flex: 1;
    margin: 2.5em 0 0;
  }
}



@media all and (min-width: 960px) {
  .wrapper {
    margin: 3em 0 0;
  }
}





.pointer {
  cursor: pointer;
}


.radio {
  display: block;
  margin: 0.5em;
  input { margin-right: 1em; }
}
