// login
.login {
  background-color: #5eb3ef;
  text-align: center;
  padding: 1em;
  height: 100%
}
.login__input {
  width: 100%;
  display: block;
  padding: 0.5em;
  margin: 0.5em auto;
  border: 0;
  background-color: #fff;
}
.login__input--submit {
  color: white;
  border: 0;
  background-color: darken(#5eb3ef,10);
  margin-top: 2em;
  border: 1px solid lighten(#5eb3ef,10);

  &:hover {
    background-color: darken(#5eb3ef,10);
  }
}



@media all and (min-width: 640px) {
  .login__input {
    width: 90%;
  }
}
@media all and (min-width: 960px) {
    .login__input {
      width: 60%;
    }
  }
