
.menu {
  position: fixed;
  top: 0;
  bottom: auto;
  line-height: 3em;
  z-index: 3;
}

.menu__logo {
  float: left;
}


.menu__items {
  float: right;
}

.menu__logo__text--logout {
  display: none;
}
.menu__logo__text {
}

.menu__logo__icon {
  margin-right: 1em;
}

@media all and (min-width: 960px) {
  .menu__logo {
    font-size: 2em;
    line-height: 1em;
  }
}


@media all and (min-width: 640px) {
  .menu {
    line-height: 2em
  }
}






.menu {
  left: 0; right: 0; top: 0;
  overflow: auto;
  font-weight: 100;
  color: #334431;
  background-color: white;
  border-bottom: 1px groove #fef;
}

.menu__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  justify-content: space-around;
  list-style-type: none; }

.menu__items__item {
  padding: 0.25em 0.75em;
}
.menu__logo,
.menu__items__item {
  transition: all 0.3s;
}
.menu__logo:hover a,
.menu__items__item:hover a {
    color: #1d261c; }
  .menu__logo a,
  .menu__items__item a {
    padding: 0.25em 0.75em;
    display: block;
    color: #334431;
    text-decoration: none; }
