


.properties {
  text-align: center;
}
.property__container {
  padding: 0.5em;
}
.property {
  text-align: center;
  background-color: #5eb3ef;
  color: #fff;
}
.property__title {
  padding: 0.5em;
}
.property__rooms {
  padding: 0.5em;
}
.property__rent {
  padding: 0.5em;

}
.property__image {
  width: 100%;
}
