// tray
.tray {
 background-color: #1F2025;
 position: fixed;
 bottom: 0; left: 0;
 right: 0;
}
.tray__item {
   padding: 0.5em;
   font-size: 2em;
   color: #000;
   display: inline-block;
   transition: all 0.3s;
   a {
     color: #fff;
   }
   &:hover {
     background-color: #ccc;
     a {
       color: #5F634F;
       &:hover {
         color: darken(#5F634F,10);
       }
     }
   }
}
.tray__item__label {
  display: none;
}
.tray__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}




@media all and (min-width: 640px) {
  .tray {
    flex: 0 0 4em;
    order: 1;
    margin: 2.5em 0 0;
    position: relative;
  }
  .tray__item {
    display: block;
  }
}

@media all and (min-width: 960px) {
  .tray {
    flex: 0 0 10em;
    margin: 3em 0 0;
  }
  .tray__items {
    text-align: left;
  }
  .tray__item__label {
    font-size: 0.75em;
    margin-left: 1em;
    display: inline;
  }
  .tray__item {
     padding: 0.5em;
     font-size: 1em;
     color: #000;
     display: block;
     a {
       color: #fff;
       text-decoration: none;
     }
     &:hover {
       background-color: #ccc;
       a {
         color: #5F634F;
         &:hover {
           color: darken(#5F634F,10);
         }
       }
     }
  }
}
