$white: #fff;
$black: #3D4547;
// tray
.tray {
 background-color: $white;
 position: fixed;
 bottom: 0; left: 0; right: 0;
 text-align: center;
 font-size: 2em;
}
.tray__logo {
  display: none;
}

.tray__item {
  display: inline-block;
  transition: all 0.3s;
}
.tray__item__label {
  display: none;
}
.tray__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}




@media all and (min-width: 640px) {
  .tray {
    flex: 0 0 80px;
    order: 0;
    font-size: 1em;
    position: relative;
    border-right: 1px solid #3D4547;
  }
  .tray__item {
    display: block;
  }
}

@media all and (min-width: 960px) {
  .tray {
    flex: 0 0 250px;
    top: 0;
    // padding: 5em 0 0;
  }
  .tray__logo {
    display: block;
  }
  .tray__logo__icon {
    font-size: 3em;
    display: block;
  }
  .tray__logo__text {
    margin: 1em 0;
  }

  .tray__items {
    text-align: left;
    margin: 0;
  }
  .tray__item__icon {
    float: left;
  }
  .tray__item__label {
    float: right;
    display: inline;
  }
  .tray__item {
     display: block;
  }
}
